{% extends '::base.html.twig' %}

{% block body -%}
	{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
   
{% endfor %}

    <h1>Restaurant Edit</h1>

   {#  {{ form(edit_form) }}
 #}
 {{form_start(edit_form)}}
 {{form_row(edit_form.name)}}
 {{form_label(edit_form.style)}}
 {{form_widget(edit_form.style)}}
 {{form_rest(edit_form)}}
 {{form_end(edit_form)}}

        <ul class="record_actions">
{#  }
 } #}
    {% include 'MesdLunchBundle:Restaurant:backtolist.html.twig' with {'food' : 'lunch'} %}
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
