{% extends '::base.html.twig' %}
{% block title %} Restaurants {% endblock %}

    {% block body -%}
    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
    {% endfor %}

    <h1><p class="cart">Lunch Application <small><i>Choose where you <u>don't</u> want to eat! </i></small> </p></h1>



    <table class="table table-striped">


                {# <th>Id</th> #}
                <th><p class="chiv">No-Votes</p></th>
                <th><p class="chiv">Name</p></th>
                <th><p class="chiv">Location</p></th>
                <th><p class="chiv">Hours</p></th>
                <th><p class="chiv">Price</p></th>
                <th><p class="chiv">Style</p></th>
                <th><p class="chiv">Type</p></th>
                
                <th><p class="chiv">Options</p></th>



    
        <tbody>
        {% for entity in entities %}
            <tr>
                {# <td><a href="{{ path('restaurant_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> #}
                
                <td><form action = "{{ path('vote_create') }}" input type = "checkbox" name = "noVote" value = "1"></td>
                {% for entity in entities %}<td> {{form(voteForm)}}</td> {% endfor %}
                <td>{{ entity.name }}</td>
                <td>{{ entity.location }}</td>
                <td>{{ entity.hours }}</td>
                <td>{{ entity.price }}</td>
                <td>{{ entity.style }}</td>
                <td>{{ entity.type }}</td>
                <td>
                    <!-- Show Button trigger modal -->
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModalShow{{entity.id}}">
                  show
                </button>
                    <!-- Show Button trigger modal -->
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModalEdit{{entity.id}}">
                  edit
                </button>
                </td>      
                
                <ul>

                </ul>
                
            </tr>

        {% endfor %}
        </tbody>
    </table>

        <ul>




<!-- Vote Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalVote">
  <p class = "chiv">Cast your Vote!</p>
</button>

<!-- Vote Modal -->
<div class="modal fade" id="myModalVote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

    <br>    
      </div>

      {# {{form_start(editForms[entity.id])}} #}
      <div class="modal-body">
{#           {{form_row(editForms[entity.id].name)}}
          {{form_row(editForms[entity.id].location)}}
          {{form_row(editForms[entity.id].hours)}}
          {{form_row(editForms[entity.id].price)}}
          {{form_row(editForms[entity.id].style)}}
          {{form_row(editForms[entity.id].type)}}
          <div class="hidden">
                {{ form_row(editForms[entity.id].vote) }}

          </div> #}

         <h2 class="modal-title" id="myModalLabel"><p class="cart"> Your Votes Have Been Saved</p></h2>
      </div>
      <div class="modal-footer">
        <div class = "row">
        <div class = "col-md-6">
            <span class="pull-left">
       {#  {{form_widget(editForms[entity.id].submit)}} #}
        </span>
       {#  {{form_end(editForms[entity.id])}}  #}
        </div>
        <div class = "col-md-6">
       
       {#  {{form_start(deleteForms[entity.id])}} #}
        {# <a class="btn btn-primary btn-lg" href="{{ path('vote_new') }}" role="button"><p class="chiv">Delete</p></a> #}
       
        {# {{form_widget(deleteForms[entity.id].delete)}} #}
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
       {#  {{form_end(deleteForms[entity.id])}} #}
        </div>
        </div>
        {# {{form_row(edit)}} #}
      </div>
    </div>
  </div>
</div>

</form>

            {# <a class="btn btn-primary btn-lg" href="{{ path('vote_new') }}" role="button"><p class="chiv">Cast your Vote!</p></a> #}


{#             <a class="btn btn-default" href="{{ path('restaurant_new') }}" role="button"><p class="chiv">
                Create a new entry
            </p></a> #}







{% for entity in entities %}
{#     <!-- Show Button trigger modal -->
<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModalShow{{entity.id}}">
  show
</button> #}

<!-- Show Modal -->
<div class="modal fade" id="myModalShow{{entity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="myModalLabel"><p class = "cart">Viewing Restaurant</p></h2>
      </div>
      <div class="modal-body">
        <b><p class= "chiv">Name</p></b>
        <input class="form-control" type="text" placeholder="{{ entity.name }}" readonly>
                
        <br>
        <b><p class= "chiv">Location</p></b>
            <input class="form-control" type="text" placeholder="{{ entity.location }}" readonly>
                
        <br>
        <b><p class= "chiv">Hours</p></b>
            <input class="form-control" type="text" placeholder="{{ entity.hours }}" readonly>
                
        <b><p class= "chiv">Price</p></b>
            <input class="form-control" type="text" placeholder="{{ entity.price }}" readonly>
                
        <br>
        <b><p class= "chiv">Style</p></b>
            <input class="form-control" type="text" placeholder="{{ entity.style }}" readonly>
                
        <br>
        <b><p class= "chiv">Type</p></b>
            <input class="form-control" type="text" placeholder="{{ entity.type }}" readonly>
                
        <br>
        <b><p class= "chiv">No-Vote Total</p></b>
            <input class="form-control" type="text" placeholder="{{ entity.voteTotal }}" readonly>
                
        <br>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}






{% for entity in entities %}
{#     <!-- Edit Button trigger modal -->
<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModalEdit{{entity.id}}">
  edit
</button> #}
<!-- Edit Modal -->
<div class="modal fade" id="myModalEdit{{entity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="myModalLabel"><p class="cart"> Editing Restaurant</p></h2>
      </div>
      {{form_start(editForms[entity.id])}}
      <div class="modal-body">
          {{form_row(editForms[entity.id].name)}}
          {{form_row(editForms[entity.id].location)}}
          {{form_row(editForms[entity.id].hours)}}
          {{form_row(editForms[entity.id].price)}}
          {{form_row(editForms[entity.id].style)}}
          {{form_row(editForms[entity.id].type)}}
          <div class="hidden">
                {{ form_row(editForms[entity.id].vote) }}

          </div>

         
      </div>
      <div class="modal-footer">
        <div class = "row">
        <div class = "col-md-6">
            <span class="pull-left">
        {{form_widget(editForms[entity.id].submit)}}
        </span>
        {{form_end(editForms[entity.id])}} 
        </div>
        <div class = "col-md-6">
       
        {{form_start(deleteForms[entity.id])}}
        {# <a class="btn btn-primary btn-lg" href="{{ path('vote_new') }}" role="button"><p class="chiv">Delete</p></a> #}
       
        {{form_widget(deleteForms[entity.id].delete)}}
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
        {{form_end(deleteForms[entity.id])}}
        </div>
        </div>
        {# {{form_row(edit)}} #}
      </div>
    </div>
  </div>
</div>
{% endfor %}



    <!-- Button trigger modal -->
<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModalNew">
  <p class= "chiv">Create a New Entry</p>
</button>

<!-- Modal -->
<div class="modal fade" id="myModalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
            {{ form_start(newForm) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2><p class = "cart">Restaurant Creation</p></h2>
      </div>
      <div class="modal-body">
        <p class = "chiv">

            {{ form_row(newForm.name) }}
            <div class="hidden">
                {{ form_row(newForm.vote) }}
            </div>

          {#   {{ form_rest(newForm) }} #}
          {{form_row(newForm.location)}}
          {{form_row(newForm.hours)}}
          {{form_row(newForm.price)}}
          {{form_row(newForm.style)}}
          {{form_row(newForm.type)}}

        </p>
      </div>
      <div class="modal-footer">
        {{form_widget(newForm.submit)}}

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


      </div>
      {{ form_end(newForm) }}
    </div>
  </div>
</div>

</ul>
{% endblock %}
