{% extends '::base.html.twig' %}
{% block title %} Restaurants {% endblock %}

    {% block body -%}
    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
    {% endfor %}

    <h1><p class="cart">Lunch Application <small><i>Choose where you <u>don't</u> want to eat! </i></small> </p></h1>

    <table class="table table-striped">


                {# <th>Id</th> #}
                <th><p class="chiv">Name</p></th>
                <th><p class="chiv">Location</p></th>
                <th><p class="chiv">Hours</p></th>
                <th><p class="chiv">Price</p></th>
                <th><p class="chiv">Style</p></th>
                <th><p class="chiv">Type</p></th>
                <th><p class="chiv">No-Votes</p></th>
                <th><p class="chiv">Options</p></th>


        <tbody>
        {% for entity in entities %}
            <tr>
                {# <td><a href="{{ path('restaurant_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> #}
                <td>{{ entity.name }}</td>
                <td>{{ entity.location }}</td>
                <td>{{ entity.hours }}</td>
                <td>{{ entity.price }}</td>
                <td>{{ entity.style }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.voteTotal }}</td>
                <td>
                <ul>



<!-- Show Button trigger modal -->
<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
  show
</button>

<!-- Show Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="myModalLabel"><p class = "cart">Viewing Restaurant</p></h2>
      </div>
      <div class="modal-body">
        <b><p class= "chiv">Name</p></b>
        <input class="form-control" type="text" placeholder="{{ entity.name }}" readonly>
                
        <br>
        <b><p class= "chiv">Location</p></b>
            <input class="form-control" type="text" placeholder="{{ entity.location }}" readonly>
                
        <br>
        <b><p class= "chiv">Hours</p></b>
            <input class="form-control" type="text" placeholder="{{ entity.hours }}" readonly>
                
        <b><p class= "chiv">Price</p></b>
            <input class="form-control" type="text" placeholder="{{ entity.price }}" readonly>
                
        <br>
        <b><p class= "chiv">Style</p></b>
            <input class="form-control" type="text" placeholder="{{ entity.style }}" readonly>
                
        <br>
        <b><p class= "chiv">Type</p></b>
            <input class="form-control" type="text" placeholder="{{ entity.type }}" readonly>
                
        <br>
        <b><p class= "chiv">Vote Total</p></b>
            <input class="form-control" type="text" placeholder="{{ entity.voteTotal }}" readonly>
                
        <br>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Button trigger modal -->
<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal{{entity.id}}">
  edit
</button>

<!-- Edit Modal -->
<div class="modal fade" id="myModal{{entity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="myModalLabel"><p class="cart"> Editing Restaurant</p></h2>
      </div>
      {{form_start(editForms[entity.id])}}
      <div class="modal-body">
          {{form_row(editForms[entity.id].name)}}
          {{form_row(editForms[entity.id].location)}}
          {{form_row(editForms[entity.id].hours)}}
          {{form_row(editForms[entity.id].price)}}
          {{form_row(editForms[entity.id].style)}}
          {{form_row(editForms[entity.id].type)}}
          <div class="hidden">
                {{ form_row(editForms[entity.id].vote) }}

          </div>

         
      </div>
      <div class="modal-footer">
       
        
        
        {{form_end(editForms[entity.id])}} 
        <p> </p>
        {{form_start(deleteForms[entity.id])}}
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        {# <a class="btn btn-primary btn-lg" href="{{ path('vote_new') }}" role="button"><p class="chiv">Delete</p></a> #}
        {{form_row(deleteForms[entity.id].delete)}}
        {{form_end(deleteForms[entity.id])}}
        
        {# {{form_row(edit)}} #}
      </div>
    </div>
  </div>
</div>



                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>

            <a class="btn btn-primary btn-lg" href="{{ path('vote_new') }}" role="button"><p class="chiv">Cast your Vote!</p></a>


{#             <a class="btn btn-default" href="{{ path('restaurant_new') }}" role="button"><p class="chiv">
                Create a new entry
            </p></a> #}




    <!-- Button trigger modal -->
<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModalNew">
  <p class= "chiv">Create a New Entry</p>
</button>

<!-- Modal -->
<div class="modal fade" id="myModalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
            {{ form_start(newForm) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2><p class = "cart">Restaurant Creation</p></h2>
      </div>
      <div class="modal-body">
        <p class = "chiv">

            {{ form_row(newForm.name) }}
            <div class="hidden">
                {{ form_row(newForm.vote) }}
            </div>

          {#   {{ form_rest(newForm) }} #}
          {{form_row(newForm.location)}}
          {{form_row(newForm.hours)}}
          {{form_row(newForm.price)}}
          {{form_row(newForm.style)}}
          {{form_row(newForm.type)}}

        </p>
      </div>
      <div class="modal-footer">
        {{form_widget(newForm.submit)}}

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


      </div>
      {{ form_end(newForm) }}
    </div>
  </div>
</div>

</ul>
    {% endblock %}
